.card{
    display: grid;
    grid-template-rows: 3rem 20rem 1fr;
    background-color: white;
    padding: 1.3rem;
    width: 25rem;
    height: 30rem;
    .card_titulo{
        font-size: 1.5rem ;
        font-weight: 500;
        text-transform: capitalize;
    }
    .card_botao{
        justify-self: center;
        height: 3.5rem;
        width: 15rem;
        border: 0;
        background-color: rgb(214, 213, 213);
        font-size: 1rem;
        border-radius: .8rem;
        font-weight: bold;
    }
}